In [2]:
import pandas as pd
import numpy as np

data='DataLengkap2.csv'
df=pd.read_csv(data)
df.head()

  Jurusan  Matematika  Bahasa Inggris  Bahasa Indonesia         Prestasi
0     IPA        92.0            86.0              88.0       Berprestasi
1     IPS        90.0            86.0              85.0       Berprestasi
2  BAHASA        82.0            87.0              92.0  Tidakberprestasi
3     IPA        93.0            82.0              85.0       Berprestasi
4     IPS        86.0            85.0              88.0       Berprestasi

In [3]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
Jurusan=df.iloc[:,0]
print(Jurusan)
en_Jurusan=le.fit_transform(Jurusan)
print(en_Jurusan)

Matematika=df.iloc[:,1]
print(Matematika)
en_Matematika=le.fit_transform(Matematika)
print(en_Matematika)

BahasaInggris=df.iloc[:,2]
print(BahasaInggris)
en_BahasaInggris=le.fit_transform(BahasaInggris)
print(BahasaInggris)

BahasaIndonesia=df.iloc[:,3]
print(BahasaIndonesia)
en_BahasaIndonesia=le.fit_transform(BahasaIndonesia)
print(en_BahasaIndonesia)

Prestasi=df.iloc[:,4]
print(Prestasi)
en_Prestasi=le.fit_transform(Prestasi)
print(en_Prestasi)

0        IPA
1        IPS
2     BAHASA
3        IPA
4        IPS
       ...
66    BAHASA
67       IPS
68       IPS
69       NaN
70       NaN
Name: Jurusan, Length: 71, dtype: object
[2 3 0 2 3 3 2 2 3 3 3 3 0 0 2 2 3 3 3 3 0 0 0 0 2 3 0 0 0 0 2 0 0 0 3 0 2
 2 2 2 0 3 0 3 3 0 1 3 3 0 0 0 2 2 2 2 2 2 2 2 0 3 3 0 0 0 0 3 3 4 4]
0     92.0
1     90.0
2     82.0
3     93.0
4     86.0
      ...
66    89.0
67    88.0
68    85.0
69     NaN
70     NaN
Name: Matematika, Length: 71, dtype: float64
[19 17  9 20 13 18 15 11  6 10  9 10  7  9 16 15 12 17  9 20 13 18 15 11
  6 10  9 15 12 15 12 19 12 15 11 17 15 12  8 11  1 21  2  0  5 13 13 14
  9 12 10  7  9 16 15 12  3  4 13 13 14  9 12  4  7  9 16 15 12 22 22]
0     86.0
1     86.0
2     87.0
3     82.0
4     85.0
      ...
66    86.0
67    91.0
68    88.0
69     NaN
70     NaN
Name: Bahasa Inggris, Length: 71, dtype: float64
0     86.0
1     86.0
2     87.0
3     82.0
4     85.0
      ...
66    86.0
67    91.0
68    88.0
69     NaN
70     NaN
Name: Bahasa Inggris, Length: 71, dtype: float64
0     88.0
1     85.0
2     92.0
3     85.0
4     88.0
      ...
66    84.0
67    89.0
68    70.0
69     NaN
70     NaN
Name: Bahasa Indonesia, Length: 71, dtype: float64
[21 18 25 18 21 17 23 21 18 14 17 10 21  0  3  5  4  2  6 20 12 15 22 21
 18 23 15 26 19 24 10  7 21 18 25 18 21 17 23 21 18 14 17 28 11 27  9  6
 19 19 20 15 18 16 13  1 22 18 25 18 21 17 23 21 18 14 17 22  8 29 29]
0          Berprestasi
1          Berprestasi
2     Tidakberprestasi
3          Berprestasi
4          Berprestasi
            ...
66         Berprestasi
67         Berprestasi
68    Tidakberprestasi
69                 NaN
70                 NaN
Name: Prestasi , Length: 71, dtype: object
[0 0 1 0 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0
 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 1 2 2]

In [4]:
features = zip(en_Jurusan,en_Matematika,en_BahasaInggris,en_BahasaIndonesia,en_Prestasi)
features2= tuple(features)
print (features2)

((2, 19, 14, 21, 0), (3, 17, 14, 18, 0), (0, 9, 15, 25, 1), (2, 20, 10, 18, 0), (3, 13, 13, 21, 0), (3, 18, 11, 17, 0), (2, 15, 8, 23, 1), (2, 11, 10, 21, 1), (3, 6, 17, 18, 1), (3, 10, 16, 14, 1), (3, 9, 13, 17, 1), (3, 10, 5, 10, 1), (0, 7, 6, 21, 1), (0, 9, 13, 0, 1), (2, 16, 22, 3, 0), (2, 15, 0, 5, 1), (3, 12, 4, 4, 1), (3, 17, 2, 2, 1), (3, 9, 1, 6, 1), (3, 20, 3, 20, 1), (0, 13, 22, 12, 0), (0, 18, 6, 15, 1), (0, 15, 4, 22, 1), (0, 11, 16, 21, 0), (2, 6, 13, 18, 1), (3, 10, 20, 23, 0), (0, 9, 13, 15, 1), (0, 15, 16, 26, 0), (0, 12, 12, 19, 1), (0, 15, 18, 24, 0), (2, 12, 16, 10, 1), (0, 19, 13, 7, 1), (0, 12, 9, 21, 1), (0, 15, 12, 18, 0), (3, 11, 23, 25, 1), (0, 17, 16, 18, 0), (2, 15, 13, 21, 0), (2, 12, 20, 17, 0), (2, 8, 13, 23, 1), (2, 11, 16, 21, 0), (0, 1, 12, 18, 1), (3, 21, 18, 14, 0), (0, 2, 16, 17, 1), (3, 0, 13, 28, 1), (3, 5, 9, 11, 1), (0, 13, 12, 27, 0), (1, 13, 20, 9, 0), (3, 14, 18, 6, 1), (3, 9, 10, 19, 1), (0, 12, 21, 19, 0), (0, 10, 14, 20, 1), (0, 7, 19, 15, 1), (2, 9, 2, 18, 1), (2, 16, 12, 16, 0), (2, 15, 7, 13, 1), (2, 12, 11, 1, 1), (2, 3, 10, 22, 1), (2, 4, 11, 18, 1), (2, 13, 8, 25, 1), (2, 13, 10, 18, 1), (0, 14, 17, 21, 0), (3, 9, 16, 17, 1), (3, 12, 20, 23, 0), (0, 4, 18, 21, 1), (0, 7, 10, 18, 1), (0, 9, 21, 14, 0), (0, 16, 14, 17, 0), (3, 15, 19, 22, 0), (3, 12, 16, 8, 1), (4, 22, 23, 29, 2), (4, 22, 23, 29, 2))

In [5]:
x=features2
y=en_Prestasi
print(x)
print(y)

((2, 19, 14, 21, 0), (3, 17, 14, 18, 0), (0, 9, 15, 25, 1), (2, 20, 10, 18, 0), (3, 13, 13, 21, 0), (3, 18, 11, 17, 0), (2, 15, 8, 23, 1), (2, 11, 10, 21, 1), (3, 6, 17, 18, 1), (3, 10, 16, 14, 1), (3, 9, 13, 17, 1), (3, 10, 5, 10, 1), (0, 7, 6, 21, 1), (0, 9, 13, 0, 1), (2, 16, 22, 3, 0), (2, 15, 0, 5, 1), (3, 12, 4, 4, 1), (3, 17, 2, 2, 1), (3, 9, 1, 6, 1), (3, 20, 3, 20, 1), (0, 13, 22, 12, 0), (0, 18, 6, 15, 1), (0, 15, 4, 22, 1), (0, 11, 16, 21, 0), (2, 6, 13, 18, 1), (3, 10, 20, 23, 0), (0, 9, 13, 15, 1), (0, 15, 16, 26, 0), (0, 12, 12, 19, 1), (0, 15, 18, 24, 0), (2, 12, 16, 10, 1), (0, 19, 13, 7, 1), (0, 12, 9, 21, 1), (0, 15, 12, 18, 0), (3, 11, 23, 25, 1), (0, 17, 16, 18, 0), (2, 15, 13, 21, 0), (2, 12, 20, 17, 0), (2, 8, 13, 23, 1), (2, 11, 16, 21, 0), (0, 1, 12, 18, 1), (3, 21, 18, 14, 0), (0, 2, 16, 17, 1), (3, 0, 13, 28, 1), (3, 5, 9, 11, 1), (0, 13, 12, 27, 0), (1, 13, 20, 9, 0), (3, 14, 18, 6, 1), (3, 9, 10, 19, 1), (0, 12, 21, 19, 0), (0, 10, 14, 20, 1), (0, 7, 19, 15, 1), (2, 9, 2, 18, 1), (2, 16, 12, 16, 0), (2, 15, 7, 13, 1), (2, 12, 11, 1, 1), (2, 3, 10, 22, 1), (2, 4, 11, 18, 1), (2, 13, 8, 25, 1), (2, 13, 10, 18, 1), (0, 14, 17, 21, 0), (3, 9, 16, 17, 1), (3, 12, 20, 23, 0), (0, 4, 18, 21, 1), (0, 7, 10, 18, 1), (0, 9, 21, 14, 0), (0, 16, 14, 17, 0), (3, 15, 19, 22, 0), (3, 12, 16, 8, 1), (4, 22, 23, 29, 2), (4, 22, 23, 29, 2))
[0 0 1 0 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0
 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 1 2 2]

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.30, random_state=0)

In [29]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
nbtrain = model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(predicted)

[0 0 1 0 0 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 1 0 1 0 0
 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 1 2 2]

In [31]:
from sklearn import metrics 
print("Accuracy", metrics.accuracy_score(y_test,y_pred))

Accuracy 0.9090909090909091